name: Daily Org Heartbeat

on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:

jobs:
  heartbeat:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Salesforce
        uses: ./.github/actions/setup-sf
        with:
          jwt_key: ${{ secrets.SFDX_JWT_KEY }}
          client_id: ${{ secrets.SFDX_CLIENT_ID }}
          username: ${{ secrets.SFDX_INTEGRATION_USERNAME }}
          install_code_analyzer: false

      - name: Execute Heartbeat Query
        run: sf data query --query "SELECT Id FROM User LIMIT 1" --target-org portfolio

      - name: Ensure Owner User is Unfrozen
        run: |
          USER_LOGIN_ID=$(sf data query --query "SELECT Id FROM UserLogin WHERE UserId IN (SELECT Id FROM User WHERE Username = '${{ secrets.SFDX_USERNAME }}')" --json --target-org portfolio | jq -r '.result.records[0].Id')

          echo "Found UserLogin ID: $USER_LOGIN_ID"

          if [ "$USER_LOGIN_ID" != "null" ] && [ -n "$USER_LOGIN_ID" ]; then
             sf data update record --sobject UserLogin --record-id "$USER_LOGIN_ID" --values "IsFrozen=false" --target-org portfolio
          else
             echo "Warning: Target user not found. Skipping unfreeze."
          fi
